.beast {
    display: inline-flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    background-color: aquamarine;
}

.love {
    margin-right: 0.5rem;
    cursor: pointer;
}

.beast-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    /* padding: 3rem;
    background-color: aquamarine; */
}

.beast-title {
    font-family: fantasy;
    font-size: 2rem;
}

.beast__description {
    font-size: 1.5rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.love {
    font-size: 1.5rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
}