.header {
    text-align: center;
    background-color: black;
    color: white;
    font-family: fantasy;
    letter-spacing: 2px;
}

.header__heading {
    font-size: 6.5rem;
    font-weight: 600;
    color: blanchedalmond;
}

form {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 2rem;
}
