.header {
    text-align: center;
    background-color: palevioletred;
    color: whitesmoke;
    font-family: fantasy;
    letter-spacing: 2px;
}

.header__heading {
    font-size: 9.5rem;
    font-weight: 700;
    color: whitesmoke;
    letter-spacing: 1.5rem;

}

form {
    display: flex;
    justify-content: center;
    background-color: palevioletred;
    color: whitesmoke;
    font-size: 2rem;
    padding: 2rem;
}
