.footer {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    padding: 1rem 0
    ;
}

.footer__copy {
    font-size: 2.5rem;
    color: whitesmoke;
    font-family: fantasy;
    font-style: italic;
}
